@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
}

.menu-navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    gap: 32px;
}

.principal {
    border-top: 0.4px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.frase1 {
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 35px;
}

.frase2 {
    font-family: 'Sarala';
    
}

.frase3 {
    font-family: 'Sarala';
}

.rodape {
    border-top: 0.4px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

